
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-size: 24px;
    overflow-x: hidden;
   
    font-color:white;
    max-width: 1700px;
   
    background-color: black;
}
.load{
	animation: slide 2s;
}

 .mySlides {display: none;}
img {vertical-align: middle;} 

 .slideshow-container {
  max-width: 1700px ;
  position: relative;
  margin: auto;} 
  
  .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  visibility: hidden;
}
.dot {
  height: 1px;
  width: 1px;
  margin: 0 .3px;
  background-color: #bbb;
  border-radius: 2%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.logo{
	height: 100px;
	width: auto;
	float:left;
	margin-top: 20px;
	background-color: black;
}

.row{ 
	max-width: 1700px;
	margin:0 auto;
}
ul {
    float:right;
    margin-top: 60px;
    list-style-type: none;
    animation: slideInDown;
    animation-duration: 3s;
    animation-iteration-count: 5s;
    
}

 ul li{
    display: inline-block;
 }
 ul li a{
 	margin-top: 10px;
      text-decoration: none;
      color: white;
      padding: 10px 20px;
      border: 1px solid transparent;
      background-color: black;
}

ul li a:hover{
    background-color: yellow;
    color:#000;
    
} 


h1{
  font-size: 200%;
  color: white;
  padding: 5px;
 background:rgba(0,0,0,0.6);
 width: 1100px;
}
 span{
	color: yellow;
}
  h2{
  	background:rgba(0,0,0,0.6);
 width: 500px;
  }
 h3{font-family: 'Acme', sans-serif;
 	font-size:24px ;
 	word-spacing: 5px;
 	letter-spacing:5px;
 	margin-bottom: 20px;
 	padding: 20px;
 	margin-top: 20px;
 	text-transform: uppercase;
 	color: white;
 	font-weight: lighter;
 	background:rgba(0,0,0,0.6); 
 	width: 900px;
 }

.main-content-header{
	width:1700px;
	position: absolute;
	top:75%;
	left:60%;
	transform: translate(-50%,-50%);

}
.mobile-icon{
	display: none; 

}
.active {
  background-color: #717171;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 500px) {
  h1{font-size: 20px}
  h3{font-size: 11px}
}

@media only screen and (max-width: 1700px){
	.main-content-header{
		width: 100%;
		padding: 0 2%;
	}
}
@media only screen and ( max-width: 1500px){
	
	h1{font-size: 180%;
	}
	h3{font-size: 180%;
	}
}	

@media only screen and ( max-width: 1000px){
	h1{
		font-size: 180%;
	}
	h3{
		font-size: 180%;
	}

	.mobile-icon{
		display: inline-block;
		color: white;
		float: right;
		margin-top: 0px;
		margin-right: 20px;
		background-size: auto;
	} 
	.main-nav{
		float: left;
	}

	.main-nav li{
		
		display: block;
		margin-top: 10px;

	}
}
@media only screen and ( max-width: 500px){
	h1{
		font-size: 100%;
	}
	h3{
		font-size: 100%;
	}

